.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;

  max-width: 640px;
  height: 100px;
  margin-top: auto;
}

.about {
  display: flex;
  color: black;
  margin: 30px auto;
  font-size: 1rem;
  width: 400px;
  height: auto;
  border: 2px solid #f2f2f2;
}

.about a:hover {
  color: #e9d18e;
}
.link,
.back {
  text-decoration: none;
  color: black;
}

.back {
  margin-left: 850px;
  color: white;
  background-color: green;
  padding: 0.75em 1.75em;
  border-radius: 1.25em;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
  }
}
